# Python Einführung
Das ist eine **Einführung** in *Python*

In [1]:
print("Hello World!")

Hello World!

In [2]:
# das ist ein Kommentar
print("something")

something

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
age = 73

In [6]:
print(age)

73

In [7]:
size = 1.7123

In [8]:
print(size)

1.7123

In [9]:
knows_math = True
likes_gardening = False
print(likes_gardening)

False

In [10]:
type(age)

int

In [11]:
type(knows_math)

bool

In [12]:
%who

age	 knows_math	 likes_gardening	 name	 size

In [13]:
type(size)

float

In [14]:
type(name)

str

## Operatoren

In [15]:
5 + 5

10

In [16]:
100 * age

7300

In [17]:
name + name

'LovelaceLovelace'

In [18]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [19]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [20]:
name + "10"

'Lovelace10'

In [21]:
size / age

0.023456164383561642

In [22]:
50 - 10

40

In [23]:
number_of_articles = "50"

In [24]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
int(number_of_articles) / 10

5.0

## Funktionen und Methoden

In [26]:
len(name)

8

In [27]:
print(name)

Lovelace

In [29]:
name.upper()

'LOVELACE'

In [30]:
print(name)

Lovelace

In [31]:
name_capital = name.upper()

In [32]:
print(name_capital)

LOVELACE

In [33]:
name.count("e")

2

In [34]:
name.replace("lace"," is everywhere")

'Love is everywhere'

In [38]:
name.replace?

In [39]:
name = name.replace("lace", " is everywhere")

## Listen & Dictionaries

In [40]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [41]:
type(names)

list

In [42]:
names[2]

'Curie'

In [43]:
names[4]

IndexError: list index out of range

In [44]:
names[0]

'Lovelace'

In [45]:
type(names[3])

str

In [46]:
name[3]

'e'

In [47]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [48]:
names[-1]

'Hawking'

In [49]:
len(names)

4

In [50]:
names[2:]

['Curie', 'Hawking']

In [51]:
names[:2]

['Lovelace', 'Darwin']

In [52]:
names [0:2]

['Lovelace', 'Darwin']

In [53]:
authors_and_birth_years = {"Lovelace" : 1882, 
                           "Darwin" : 1809, 
                           "Noether" : 1882}

In [54]:
authors_and_birth_years["Darwin"]

1809

## for-Schleife

In [55]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [63]:
for name in names:
    print(name + " did awesome stuff")
    print("\n")

Lovelace did awesome stuff


Darwin did awesome stuff


Curie did awesome stuff


Hawking did awesome stuff

## Übung

In [64]:
for author, year in authors_and_birth_years.items():
    print(author)
    print(year)

Lovelace
1882
Darwin
1809
Noether
1882

In [66]:
vorname_und_lieblingsessen = {"Anke" : "Lasagne", 
                           "Birgit" : "Pizza", 
                           "Christina" : "Grünkohl",
                             "Kira" : "Nudelgerichte"}

In [69]:
for vorname, lieblingsessen in vorname_und_lieblingsessen.items():
    print(vorname + " isst gerne " + lieblingsessen)

Anke isst gerne Lasagne
Birgit isst gerne Pizza
Christina isst gerne Grünkohl
Kira isst gerne Nudelgerichte

## Bedingte Anweisungen (Conditionals)

In [81]:
temp = 10 
if temp > 15: 
    print ("It's warm")
else:
    print ("It's cold")

It's cold

In [85]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [90]:
temps = [10, 20]
for temp in temps:
    if temp > 15:
        print ("It's warm")
    else:
        print ("It's cold")

It's cold
It's warm